body {
    background-color: #FCA6C9;
}
h1 {
    color: white;
}
#special:hover {
    color:black;
}
header {
    /*border: 1px solid black;*/
    margin: 0 auto;
    text-align: center;
    width: 400px;
}
p {
    color:white;
    font-size: 14pt;
    line-height: 1.5;
    margin: 0 auto;
    text-align: center;
    width: 520px;
}
#list {
    margin: 0 auto;
    width:375px;
}
img {
    width: 200px
}
.center {
    text-align: center;
}
#quote {
    margin: 0 auto;
    width: 215px;
    text-align: center;
    line-height: 1.5;
}
.end {
    color:black
}