a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 80%;
}

/*class selectors*/
.home-imgs {
    width: 20%;
}


/*id selectors*/
#main-img {
    width: 40%;
}

#logo {
    width: 200px;
}