@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

/* Home Selectors */
body {
    margin: 0;
    background-color: #FAC8CD;
}

h1 {
    text-align: center;
    color: #495D63;
    background-color: #FAC8CD;
    font-family: 'Playfair Display', serif;
}

h2 {
    text-align: center;
    font-family: 'Playfair Display', serif;
    color: #495D63;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    border: 5px solid #FAC8CD;
    background-color: #FAC8CD;
    color: #495D63;
}

main a {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    text-decoration: none;
    background-color: #FAC8CD;
    color: #495D63;
}

main a:hover {
    background-color: #904E55;
    color: #F1EFDD;
}

nav a {
    color: #495D63;
    background-color: #FAC8CD;
    text-decoration: none;
    padding: 35px;
    text-align: center;
}

nav {
    display: flex;
    background-color: #FAC8CD;
    justify-content: space-around;
}

nav a:hover {
    background-color: #904E55;
    color: #F1EFDD;
}

p {
    font-family: 'Times New Roman', Times, serif;
    color: #495D63;  
    text-align: center;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*class selectors*/
.home-imgs {
    width: 20%;
}

.imgleft2 {
    grid-column: 2/4;
    grid-row: 4/8;
    width: 100%;
    box-shadow: 5px 5px 10px #6f7364;
    z-index: -1;
    border: 5px solid #FAC8CD;
}

.imgleft {
    grid-column: 5/7;
    grid-row: 8/11;
    width: 100%;
    box-shadow: 5px 5px 10px #6f7364;
    z-index: -1;
    border: 5px solid #FAC8CD;
}

.imgright {
    grid-column: 2/4;
    grid-row: 12/16;
    width: 100%;
    box-shadow: 5px 5px 10px #6f7364;
    z-index: -1;
    border: 5px solid #FAC8CD;
}

.subimg {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.sub-banner {
    width: 100%;
    grid-column: 1/4;
    grid-row: 1/2;
}

.subtext {
    text-align: center;
    padding: 50px;
    grid-column: 2/3;
    grid-row: 1/2;
}


/*id selectors*/
#home-grid {
    display: grid;
    grid-template-columns: 50px 1fr 50px 50px 50px 1fr 50px;
    grid-template-rows: 10px 50px 10px 50px 1fr 50px 50px 50px 1fr 50px 50px 50px 1fr 50px 50px;
}

#main-img {
    width: 100%;
    grid-column: 1/4;
    grid-row: 1/4;
    z-index: -1;
}

#homeimg {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#hometext {
    text-align: center;
    padding: 20px;
    grid-column: 2/3;
    grid-row: 2/3;
}

#celltitle {
    grid-column: 3/7;
    grid-row: 5/6;
    background-color: #904E55;
    color: #F1EFDD;
    box-shadow: 5px 5px 10px #6f7364;
    width: 80%;
    padding: 5px;
}

#datatitle {
    grid-column: 2/6;
    grid-row: 9/10;
    background-color: #904E55;
    box-shadow: 5px 5px 10px #6f7364;
    width: 80%;
    padding: 5px;
    margin: 0 120px;
}

#comptitle {
    grid-column: 3/7;
    grid-row: 13/14;
    background-color: #904E55;
    box-shadow: 5px 5px 10px #6f7364;
    width: 80%;
    padding: 5px;
}

#celltitle p, #datatitle p, #comptitle p {
    color: #F1EFDD;
    line-height: 1.5em;
}

#celltitle h2, #datatitle h2, #comptitle h2 {
    background-color: #FAC8CD;
    color: #495D63;
}